<div class="window snap">
    <div id="BlogLabel">
        <div class="list">
            <a href="/blog">
                <h2>am_blog</h2>
            </a>
            <h5>This blog is dynamically generated through the Google Docs and Google Drive APIs</h5>
        </div>
        <div class="list log">
            <h2>Captain's Log</h2>
            <h5>A changelog of all site updates. Click each entry to open</h5>
        </div>
    </div>
    <div id="lists">
        <div id="blogList" class="list">
            <app-blog-table></app-blog-table>
        </div>
        <div id="logList" class="list log">
            <app-log-table></app-log-table>
        </div>
    </div>
</div>
